<%= image_tag 'bg.jpg', class: "bg" %>
<div class="home-text">
  <h1 style="font-size: 4.5rem;">Hello, Rails!</h1>
  <%= link_to 'My Blog', '/articles', class: "btn btn-primary btn-block btn-lg active" %>
</div>